<form class="form-horizontal" role="form" action="@routes.CategoryController.saveCategory()">

    <div class="panel panel-default">
        <div class="panel-body">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
            </div>

            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-md-4">
                <textarea class="form-control" rows="5" id="inputDescription" placeholder="Description"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" onclick="return false" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
